In [1]:
import pandas as pd

In [2]:
ds=pd.read_csv('Iris.csv')
ds

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
df = ds.drop(['Id'],axis=1)

In [6]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [7]:
from sklearn.model_selection import train_test_split
X = df.drop(['Species'],axis=1)
y=df['Species']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [8]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

In [9]:
y_pred = classifier.predict(X_test) 
y_pred

array(['Iris-virginica', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-setosa', 'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor'],
      dtype='<U15')

In [10]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
from sklearn.metrics import accuracy_score 
print ("Accuracy : ", accuracy_score(y_test, y_pred))
cm

Accuracy :  1.0

array([[ 9,  0,  0],
       [ 0, 12,  0],
       [ 0,  0,  9]], dtype=int64)

In [28]:
error_rate = 1-Accuracy
error_rate

NameError: name 'Accuracy' is not defined

In [21]:
cm[i][i]

9

In [24]:
#TP,FN,FP,TN
z=[]
tot=0
for i in range(len(cm)):
    for j in range(len(cm)):
        tot+=cm[i][j]
for i in range(len(cm)):
    y=[]
    TP=cm[i][i]
    FN = sum(cm[i][:i])+sum(cm[i][i+1:])
    FP=0
    for j in range(len(cm)):
        if i!=j:
            FP+=cm[j][i]
    TN = tot - (TP+FN+FP)
    y.append(TP)
    y.append(FN)
    y.append(FP)
    y.append(TN)
    z.append(y)
z
            
# metrics for each class

[[9, 0, 0, 21], [12, 0, 0, 18], [9, 0, 0, 21]]

In [30]:
print("precision of each class")
for i in z:
    Precision = i[0]/(i[0]+i[2])
    print(Precision)
#Precision = TP/(TP+FP)

precision of each class
1.0
1.0
1.0

In [31]:
print("recall of each class")
for i in z:
    recall = i[0]/(i[0]+i[1])
    print(recall)
#Recall = TP/(TP+FN)

recall of each class
1.0
1.0
1.0

In [33]:
print('accuracy of each class')
for i in z:
    acc = (i[0]+i[3])/sum(i)
    print(acc)
#Accuracy = (TP+TN)/(TP+FP+FN+TN)

accuracy of each class
1.0
1.0
1.0