In [5]:
import pandas as pd

In [6]:
from sklearn.datasets import load_boston
boston = load_boston()

In [7]:
data = pd.DataFrame(boston.data)

In [8]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [9]:
data.columns = boston.feature_names
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

CRIM per capita crime rate by town
ZN proportion of residential land zoned for lots over 25,000 sq.ft.
INDUS proportion of non-retail business acres per town
CHAS Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
NOX nitric oxides concentration (parts per 10 million)
RM average number of rooms per dwelling
AGE proportion of owner-occupied units built prior to 1940
DIS weighted distances to five Boston employment centres
RAD index of accessibility to radial highways
TAX full-value property-tax rate per 10,000usd
PTRATIO pupil-teacher ratio by town
B 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
LSTAT % lower status of the population

In [10]:
data['PRICE'] = boston.target

In [11]:
data.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS       float64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD        float64
TAX        float64
PTRATIO    float64
B          float64
LSTAT      float64
PRICE      float64
dtype: object

In [12]:
data.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
PRICE      0
dtype: int64

In [20]:
from sklearn.model_selection import train_test_split
X = data.drop(['PRICE'], axis = 1)
Y = data['PRICE']
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = 0.2)

In [21]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X_train, y_train)

LinearRegression()

In [29]:
y_pred = lm.predict(X_test)
y_pred

array([19.32850826, 18.22284203, 10.18157608, 24.51248634, 25.47633262,
       20.7016602 , 36.51894346, 21.82371022, 24.83603016, 13.31747681,
       29.92952445, 20.88260756, 17.59639412, 22.51499795, 32.05430314,
       22.03322426, 12.54649108, 19.59876087, 13.49246234, 17.35271406,
       17.00147948, 20.00823082, 34.80348334, 15.85809621, 20.14521285,
       17.41112516, 20.71459961, 24.70726899, 19.71289776, 32.73836018,
       12.81849494, 19.30567092, 32.50067446, 28.3087074 , 25.42228725,
       35.72678924, 22.29013628, 29.11072008, 11.84105372, 16.1481821 ,
       24.15661439, 23.22458516, 22.89156256, 22.87461566, 38.09427806,
       32.0996713 , 15.92760045, 15.72617628, 23.78215156, 19.27200392,
       23.86699013, 16.00590461, 19.20203409, 30.4535615 , 39.06294192,
       21.68557558, 19.43333547, 43.11521722, 22.77703545, 16.0012889 ,
       30.60510885, 18.31709947, 17.82274649,  8.7604135 , 14.70003048,
       12.1500404 , 17.13413339, 32.68787404, 20.87614475, 30.09153456,
       23.1212913 , 32.05010097, 11.87547538, 16.86250393, 38.87986392,
       28.97208151, 23.28158271, 24.94131714, 30.93231442, 17.71837121,
       36.76044152, 21.22921961, 17.84116081, 30.70232764, 17.4690305 ,
       19.69981291, 13.31296296, 35.26583462, 27.10360526, 22.31522056,
       23.96637097, 27.66066835, 29.75587014, 24.93885093, 26.82612512,
       18.93432309, 12.39880684, 11.5998931 , 34.57250878, 19.4051133 ,
       33.45347637, 24.02805775])

In [30]:
from sklearn.metrics import r2_score
r2_score(y_pred,y_test)

0.4931083358348962